:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --secondaty-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --accent-button-submit: rgba(24, 140, 232, 1);
    --primary-bg-color: rgba(255, 255, 255, 1);
    --footer-bg-color: rgba(47, 48, 58, 1);
    --secondary-bg-color: rgba(245, 244, 250, 1);
    --icon-color: rgba(175, 177, 184, 1);
}
/*Header*/



img {
display: block;
max-width: 100%;
height: auto;
}
.site-nav {
    display: flex;
    margin-left: 93px;

}
.site-nav li {
    margin-right: 50px;
}
.site-nav li:last-child {
    margin-right: 0px;
}
.container {
margin-left: auto;
margin-right: auto;
width: 1200px;
padding: 0 15px;
}
nav {
display: block;
}
.main-nav {
    display: flex;
    align-items: center;
}

.logo-header {
    color: var(--title-text-color);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        
}
.logo-link {
    color: var(--accent-color);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}

.nav-list {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-nav .nav-list {
    display: block;
    padding-bottom: 32px;
        padding-top: 32px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list.current {
    color: var(--accent-color);
    
}

.nav-list.current::after {
        content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
}

.nav-list:hover,
.nav-list:focus {
    color: var(--accent-color);
}
.nav-svg {
    fill: currentColor;
}
.nav-svg:hover,
.nav-svg:focus {
    fill: var(--accent-color);
}

/*Main*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}


body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
.hero-title {
    margin: 0 auto;
    width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:var(--primary-bg-color);
        text-align: center;
}


.hero-section {
        max-width: 1600px;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            background-repeat: repeat;
            background-size: cover;
            background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
    to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imghero.jpg);
}
.modal-open-btn {
    display: flex;
    margin-top: 30px;
    padding: 10px 32px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
        cursor: pointer;
        border: 0;
        border-color: transparent;
                    box-sizing: border-box;
                        margin-bottom: auto;
                        margin-left: auto;
                        margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--accent-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.vissualy-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 578px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    border: 1px solid var(--icon-color);
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-close-icon:hover,
.modal-close-icon:focus{
    fill: var(--accent-color);
}

.modal-form {
        display: flex;
            flex-direction: column;
}
.modal-form-title {
font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-input-icon {
    position: relative;
    display: block;

}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-desc-title {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondaty-text-color);
    margin-bottom: 4px;
}
.modal-form-icon {
    fill: var(--primary-text-color);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field-coment {
    margin-bottom: 20px;
}

.modal-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.modal-form-checkbox {
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
}

.modal-form-checkbox-icon {
    display: none;
}

.modal-form-check:checked + .modal-form-checkbox {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.modal-form-check:checked + .modal-form-checkbox .modal-form-checkbox-icon {
    display: block;
}

.modal-form-checkbox-field {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--secondaty-text-color);
    margin-left: 12px;
}

.checkbox-accent {
    color: var(--accent-color);
}

.modal-form-submit {
    border: none;
    padding: 10px 52px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    width: 200px;
    align-items: center;
    margin: auto;
    cursor: pointer;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--accent-button-submit);
}


.button-text {
    font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        text-align: center;    
        color: var(--primary-bg-color);
}


.item .contact-list {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.buttonsvg {
        display: flex;
            justify-content: center;
            align-items: center;
    height: 120px;
    width: 270px;
    border: none;
    border-radius: 3px;
    color:black;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: var(--secondary-bg-color);

}
.button-icon {
    fill: currentColor;
}


.contact-list {
    align-items: center;
}
.feature-section {
padding-top: 94px;
padding-bottom: 94px;
}
.wedo-section {
    padding-top: 0;
    padding-bottom: 94px;
}
.feature-list {
    display: flex;
}
.feature-list .item {

    width: 270px;
    margin-right: 30px;
}


.feature-list .item:last-child {
margin-right: 0px;    

}

.section-list {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--primary-text-color);
}
.section-list-text {
    margin-top: 0;
    margin-bottom: 0;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondaty-text-color)
}
.section-title {
margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.14;
        letter-spacing: 0.03em;
    text-align: center;
        color: var(--title-text-color);
}

.section-tittle-card {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    background-color: rgba(47, 48, 58, 0.8);
    


}



.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.img-list {
    display: flex;
    justify-content: center;

}
.img-list .img-li {
    margin-right: 30px;
}
.img-list .img-li:last-child {
    margin-right: 0px;
}

.img-li {
    position: relative;
}
.team-dsc {
padding-top: 30px;padding-bottom: 30px;

}
.teammate-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
text-align: center;
    color: var(--primary-text-color);
}
.teammate-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
text-align: center;
    color: var(--secondaty-text-color);
}
.team-section {
padding-top: 94px;
padding-bottom: 94px;
    background: var(--secondary-bg-color);
}
.team-list {
        background: var(--primary-bg-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.teamlist-flex {
    display: flex;
}
.teamlist-flex .team-list {
    margin-right: 30px;
}
.teamlist-flex .team-list:last-child {
    margin-right: 0px;
}
.button-social {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 44px;
        width: 44px;
        border: none;
        border-radius: 50px;
        color: var(--icon-color);
        background-color: var(--primary-bg-color);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-social:last-child {
    margin-right: 0;
}
.button-social:hover,
.button-social:focus {
    color: var(--primary-bg-color);
background-color: var(--accent-color);
}

.svg-social {
align-items: center;
fill: currentColor;
}

.button-panel {
    display: flex;
    margin-top: 16px;
justify-content: center;
}
.button-panel-footer {
display: flex;
    margin-top: 20px;
}

.clients-section {
padding-top: 94px;
padding-bottom: 94px;
}

.button-clients {
    display: flex;
    justify-content:space-between;
    align-items: center;
    

    


}
.svg-client {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
        color: var(--primary-bg-color);
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid var(--icon-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }


.button-client:hover,
.button-client:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    
}


.svg-client:hover,
.svg-client:focus {
fill: var(--accent-color);
}

/*Footer*/
.footer {
    display: flex;
}


.footer-main {
    float:left;
    display: block;
    margin-right: 70px;
}
.footer-buttons {
    display: block;
}
.footer-top {
    align-items: center;
    display: flex;

}
.footer-text {
    color: var(--primary-bg-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;

}
.button-social-footer {
    margin-right: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 44px;
        width: 44px;
        border: none;
        border-radius: 50px;
        color: var(--primary-bg-color);
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-social-footer:hover,
.button-social-footer:focus {
color: var(--primary-bg-color);
background-color: var(--accent-color);
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
}

.allfooter {
    display: flex;
    align-items:baseline; 
}
.footer-nav {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    
        letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link-footer {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-nav-mail {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
address {
    margin-top: 20px;
}
.footer-list li {
    margin-bottom: 9px;
}

.footer-list li:last-child {
    margin-bottom: 0;
}
.logo-footer {
    color: var(--primary-bg-color);
}
.footer-nav:hover, :focus {
    color: var(--accent-color);
}

.footer-nav-mail:hover,
:focus {
    color: var(--accent-color);
}
.address-link-footer:hover, :focus {
    color: var(--accent-color);
}

.contact-list {
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: var(--secondaty-text-color);
}
.nav-svg {
    margin-right: 10px;
}



.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item + .item {
    margin-left: 50px;
}

.address-link {
    font-style: normal;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--primary-bg-color);
}

.address-link-footer {
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--primary-bg-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contact-list:hover,
:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-form {
    margin-left: auto;
}
.name-tittle-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}
.footer-form {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}
.footer-form-button {
    border: none;
    border-radius: 5px;
    position: relative;
    display: block;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    padding-left: 28px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: left;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: var(--accent-button-submit);
}

.footer-form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--footer-bg-color);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
}

.footer-form-icon {
    fill: currentColor;
    position: absolute;
    top: 13px;
    left: 148px;
}




/*Portfolio*/
.page-header {
            box-sizing: border-box;
                border-bottom: 1px solid #EEEEEE;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.filters li {
    margin-right: 8px;
}
.filters li:last-child {
    margin-right: 0px;
}

.filter-button {
    display: inline-block;
    font-family: Roboto, sans-serif;
        background: var(--secondary-bg-color);
        border-radius: 4px;
        border: 0;
        border-color: transparent;
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        padding: 6px 22px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
background-color: var(--accent-color);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }
.filter-button:hover, .filter-button:focus {
color: var(--primary-bg-color);
}
.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--secondaty-text-color);

}
.portfolio-name {
    margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
}
.portfolio-dsc {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.overlay-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
    display: block;
        background: var(--primary-bg-color);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.portfolio-list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.portfolio-list:hover .overlay, 
.portfolio-list:focus .overlay {
    transform: translateY(0%);
}
.portfolio-items li {
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-items li:nth-child(3n) 
{
    margin-right: 0px;

}
.portfolio-items {
        display: flex;
            flex-wrap: wrap;

}
